
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div { margin: 10px; padding: 10px; }
        span { background: #ccc; }
        #cursor-pointer span { cursor:pointer; }
    </style>
</head>
<body>

    <div id="click">
        <span>click</span>
    </div>
    <div id="cursor-pointer">
        <span>Cursor Pointer: http://stackoverflow.com/a/17490775/188740 </span>
    </div>
    <div id="click-and-touchstart">
        <span>click and touchstart</span>
    </div>

    <ul></ul>

    @Scripts.Render("~/bundles/jquery")
    <script>
        (function () {

            var result = function () {
                $('ul').append('<li>click</li>');
            };

            $('#click').on('click', 'span', result);
            $('#cursor-pointer').on('click', 'span', result);
            $('#click-and-touchstart').on('click touchstart', 'span', result);

        }());
    </script>
</body>
</html>
