
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div { margin: 10px; padding: 10px; }
        span { background: #ccc; }
        #cursor-pointer { cursor:pointer; }
    </style>
</head>
<body>

    <div>
        <span id="click">click</span>
    </div>
    <div>
        <span id="cursor-pointer">Cursor Pointer: http://stackoverflow.com/a/17490775/188740 </span>
    </div>
    <div>
        <span id="click-and-touchstart">click and touchstart</span>
    </div>

    <ul></ul>

    @Scripts.Render("~/bundles/jquery")
    <script>
        (function () {

            var result = function () {
                $('ul').append('<li>click</li>');
            };

            $(document).on('click', '#click', result);
            $(document).on('click', '#cursor-pointer', result);
            $(document).on('click touchstart', '#click-and-touchstart', result);

        }());
    </script>
</body>
</html>
