
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!--[if lt IE 7]> <h1>Internet Explorer 6</h1> <![endif]-->
    <!--[if IE 7]>    <h1>Internet Explorer 7</h1> <![endif]-->
    <!--[if IE 8]>    <h1>Internet Explorer 8</h1> <![endif]-->
    <!--[if gt IE 8]><!-->
    <h1>Modern Browser</h1>
    <!--<![endif]-->
</body>
</html>
